In [1]:
!pip install pandas

Requirement already satisfied: pandas in /workspaces/-IPKI-AI-DataScience-Course/venv/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in /workspaces/-IPKI-AI-DataScience-Course/venv/lib/python3.12/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/-IPKI-AI-DataScience-Course/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/-IPKI-AI-DataScience-Course/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/-IPKI-AI-DataScience-Course/venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/-IPKI-AI-DataScience-Course/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd

Series

In [3]:
# Create a Series
fruits = pd.Series(["Apple", "Banana", "Mango", "Grapes"])
print(fruits)

0     Apple
1    Banana
2     Mango
3    Grapes
dtype: object

In [4]:
# With custom index
prices = pd.Series([100, 60, 80, 120], index=["Apple", "Banana", "Mango", "Grapes"])
print(prices)

Apple     100
Banana     60
Mango      80
Grapes    120
dtype: int64

DataFrame

In [6]:
#access by Index
print(prices["Mango"])

80

In [8]:
data = {
    "Name": ["Ali", "Sara", "John", "Aisha"],
    "Age": [18, 20, 17, 19],
    "Marks": [85, 90, 78, 88]
}
df = pd.DataFrame(data)
print(df)

    Name  Age  Marks
0    Ali   18     85
1   Sara   20     90
2   John   17     78
3  Aisha   19     88

In [9]:
# Accessing a column
print(df["Name"])

0      Ali
1     Sara
2     John
3    Aisha
Name: Name, dtype: object

In [10]:
# Accessing a column
print(df.iloc[1])  # Second row

Name     Sara
Age        20
Marks      90
Name: 1, dtype: object

In [11]:
#Accessing multiple rows and columns
print(df.loc[1:3, ["Name", "Marks"]])  # Rows 1 to 3, Columns "Name" and "Marks"

    Name  Marks
1   Sara     90
2   John     78
3  Aisha     88

Reading & Writing Data

In [16]:
df = pd.read_csv("car_sales_data.csv")

In [17]:
df.to_csv("output.csv", index=False)

Basic Operations:

In [31]:
#no. of rows and columns:
df.shape

(50000, 7)

In [32]:
#only rows:
len(df)     # number of rows

50000

In [33]:
print(df.head())          # First rows
print(df.tail())        # Last 5 rows by defult

  Manufacturer       Model  Engine size Fuel type  Year of manufacture  \
0         Ford      Fiesta          1.0    Petrol                 2002
1      Porsche  718 Cayman          4.0    Petrol                 2016
2         Ford      Mondeo          1.6    Diesel                 2014
3       Toyota        RAV4          1.8    Hybrid                 1988
4           VW        Polo          1.0    Petrol                 2006

   Mileage  Price
0   127300   3074
1    57850  49704
2    39190  24072
3   210814   1705
4   127869   4101
      Manufacturer   Model  Engine size Fuel type  Year of manufacture  \
49995          BMW      M5          5.0    Petrol                 2018
49996       Toyota   Prius          1.8    Hybrid                 2003
49997         Ford  Mondeo          1.6    Diesel                 2022
49998         Ford   Focus          1.0    Diesel                 2016
49999           VW    Golf          1.4    Diesel                 2012

       Mileage   Price
49995    28664  113006
49996   105120    9430
49997     4030   49852
49998    26468   23630
49999   109300   10400

In [19]:
print(df.describe())      # Summary stats

        Engine size  Year of manufacture        Mileage          Price
count  50000.000000         50000.000000   50000.000000   50000.000000
mean       1.773058          2004.209440  112497.320700   13828.903160
std        0.734108             9.645965   71632.515602   16416.681336
min        1.000000          1984.000000     630.000000      76.000000
25%        1.400000          1996.000000   54352.250000    3060.750000
50%        1.600000          2004.000000  100987.500000    7971.500000
75%        2.000000          2012.000000  158601.000000   19026.500000
max        5.000000          2022.000000  453537.000000  168081.000000

In [21]:
print(df.sort_values("Price", ascending=False))  # Sort

      Manufacturer   Model  Engine size Fuel type  Year of manufacture  \
22786          BMW      M5          5.0    Petrol                 2022
14860          BMW      M5          5.0    Petrol                 2022
38438      Porsche     911          3.5    Petrol                 2022
49362      Porsche     911          3.5    Petrol                 2022
38166          BMW      M5          5.0    Petrol                 2022
...            ...     ...          ...       ...                  ...
27536         Ford  Fiesta          1.2    Petrol                 1986
21048         Ford  Fiesta          1.0    Petrol                 1985
41960         Ford  Fiesta          1.4    Petrol                 1984
44452         Ford  Fiesta          1.2    Petrol                 1984
18063           VW    Polo          1.0    Petrol                 1987

       Mileage   Price
22786     4590  168081
14860     4683  168001
38438     2931  167774
49362     6963  164343
38166     9797  163608
...        ...     ...
27536   391920     103
21048   375388     103
41960   395085      94
44452   396901      85
18063   422895      76

[50000 rows x 7 columns]

In [23]:
print(df[df["Price"] > 10000000]) # Filter

Empty DataFrame
Columns: [Manufacturer, Model, Engine size, Fuel type, Year of manufacture, Mileage, Price]
Index: []

In [27]:
print(df[df["Year of manufacture"] == 2021]) # Filter

      Manufacturer       Model  Engine size Fuel type  Year of manufacture  \
81         Porsche  718 Cayman          2.4    Petrol                 2021
109         Toyota        RAV4          2.4    Petrol                 2021
167         Toyota        RAV4          1.8    Hybrid                 2021
226         Toyota        RAV4          1.8    Petrol                 2021
305           Ford       Focus          1.0    Petrol                 2021
...            ...         ...          ...       ...                  ...
49477       Toyota       Yaris          1.0    Petrol                 2021
49491       Toyota       Yaris          1.2    Hybrid                 2021
49494      Porsche         911          2.2    Petrol                 2021
49656           VW        Golf          1.8    Diesel                 2021
49794         Ford      Fiesta          1.2    Petrol                 2021

       Mileage   Price
81       14070   69526
109       6829   66031
167       8120   68163
226      21354   52908
305      14063   33627
...        ...     ...
49477     4443   28239
49491    13962   35318
49494     6280  122323
49656    17793   38998
49794    19070   24725

[606 rows x 7 columns]

Group By:

In [28]:
#“Which brand is most expensive on average?”
avg_price = df.groupby("Manufacturer")["Price"].mean()
print(avg_price)

Manufacturer
BMW        24429.459215
Ford       10672.288723
Porsche    29103.764661
Toyota     14340.362275
VW         10363.139274
Name: Price, dtype: float64

In [29]:
#Average Mileage per Fuel Type
avg_mileage = df.groupby("Fuel type")["Mileage"].mean()
print(avg_mileage)

Fuel type
Diesel    112667.486584
Hybrid    111622.108502
Petrol    112794.838159
Name: Mileage, dtype: float64

In [30]:
#both average price and average mileage
summary = df.groupby("Manufacturer")[["Price", "Mileage"]].mean()
print(summary)

                     Price        Mileage
Manufacturer
BMW           24429.459215  112837.733333
Ford          10672.288723  112525.884819
Porsche       29103.764661  111638.253737
Toyota        14340.362275  111361.126494
VW            10363.139274  113462.092939